location            = "South Central US"
resource_group_name = "example-dal-vfw-01"
common_vmseries_sku = "bundle1"
username            = "terraform"
allow_inbound_mgmt_ips = [
  "40.20.0.0/16",
  "10.1.2.0/24",
]

vm_series_version = "10.2.3"

storage_account_name = "tfexampledalvfw01storage"
storage_share_name   = "ibootstrapshare"

files = {
  "files/authcodes"    = "license/authcodes" # authcode is required only with common_vmseries_sku = "byol"
  "files/init-cfg.txt" = "config/init-cfg.txt"
}

avzones = ["1", "2", "3"]
